*, html, body {
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

#logo {
  width: 150px;
}

.intro-form{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}