*, html, body {
  margin: 0;
  padding: 0;
}

#root, html, body{
  width: 100%;
  height: 100%;
  background-color: #000C36;
}

#logo {
  width: 150px;
}

h1 {
  color: #FFFFFF;
  font-family: "Momo Signature", cursive;
  font-style: normal;
}

.intro-form{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-inputs{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}