*, html, body {
  margin: 0;
  padding: 0;
}

#root, html, body{
  width: 100%;
  height: 100%;
  background-color: #000C36;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
}

header h1 {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 3.5rem;
}

.intro-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-inputs{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro-inputs input {
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: #3B4877;
  border: none;
}

.intro-inputs input::placeholder{
  color: #000C36;
}

.intro-inputs .form-btn{
  width: 110%;
  padding: 15px;
  font-size: 2rem;
  border: solid 1px grey;
  font-weight: bold;
  color: #000C36;
  cursor: pointer;
}
